#masthead
  %form{ action: "/", method: "get" }
    %input#q.box{ type: "text", name: "q", value: q }
    %input.submit{ type: "submit" }

%h2 Welcome to Stickerfate
#main
  %ul.wall
    - each update, index in updates
      %li{ class : (index % 5) ? "" : "clear" }
        %img{ src: update.profile_displayImage, alt: update.profile_nickname }
        %p!= update.title
