html
  :background #111
  :color #ece9e9
  :font-family "Helvetica Neue", "Lucida Grande", "Arial", sans-serif;
h1
  :font-size 46px
  :color #fff
  :letter-spacing -1px
  :text-transform lowercase
input
  :font-size 30px
  :background #ece9e9
  :color #000
  :font-weight bold
  :border 5px solid #ccc
  :padding 5px
input.box
  :width 200px
input.submit
