!!! 5
%html
  %title stickerface!
  %head
    %link{ rel: "stylesheet", type: "text/css", href: "/style/layout.css" }
  %body
    #hd
      %h1 Stickerface
    #bd!= body
    #ft
      Copyright &copy; 2010
      %a{ href: "http://reidburke.com/" } Reid Burke
