!!! 5
%html
  %title stickerface!
  %head
    %link{ rel: "stylesheet", type: "text/css", href: "http://yui.yahooapis.com/combo?3.1.1/build/cssreset/reset-min.css&3.1.1/build/cssfonts/fonts-min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "/style/layout.css" }
  %body
    #hd
      %h1 Stickerface
    #bd!= body
    #ft
      %p.right.heroku
        Powered by
        %img{ src: "/public/images/heroku.png", alt: "Heroku" }
      %p.left
        Copyright &copy; 2010
        %a{ href: "http://reidburke.com/" } Reid Burke
